# Environment variables
.env

# Python virtual environment
.venv/
venv/
env/
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.tox/
.nox/
*.egg-info/
dist/
build/
*.log
*.sqlite
*.sqlite3

# Data files
data/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# devplan
dev_plan/